/* CSS File for Admin Dashboard Project */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.layout-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar-container {
    background-color: rgb(25, 146, 212);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 4rem;
    color: white;
}

.sidebar-title {
    display: flex;
    padding-left: 2.65rem;
    padding-right: 2.65rem;
    align-items: center;
    font-size: 3rem;
    gap: 1rem;
    font-weight: bold;
}

.title-icon {
    height: 3rem;
    width: 3rem;
    filter: invert(100%);
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
    font-size: 2.25rem;
    gap: 1.5rem;
}

.sidebar-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
    font-size: 2.25rem;
    gap: 1.5rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    cursor: pointer;
    user-select: none;
}

.sidebar-icon {
    height: 2.25rem;
    width: 2.25rem;
    filter: invert(100%);
}

img[src="icons/message.svg"] {
    transform: scaleX(-1);
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.navigation {
    display: flex;
    padding-left: 4rem;
    padding-right: 1rem;
    align-items: center;
    gap: 1rem;
}

.navigation-bar {
    border-radius: 32px;
    border-style: hidden;
    background-color: rgb(226, 232, 240);
    height: 2.5rem;
    width: 100%;
}

.navigation-icon, .profile-bell {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    user-select: none;
}

.profile {
    display: flex;
    padding-left: 1rem;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.profile-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.profile-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.welcome {
    display: flex;
    padding-left: 4rem;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.welcome-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -0.75rem;
    cursor: pointer;
}

.welcome-message > p {
    font-size: 1.25rem;
    font-weight: bold;
}

.welcome-message > h2 {
    font-size: 2rem;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: left;
    gap: 4rem;
    align-items: center;
    padding-left: 1rem;
}

.actions-new, .actions-upload, .actions-share {
    border-radius: 32px;
    border-style: none;
    background-color: rgb(25, 146, 212);
    padding: 1em 2.75em;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

button {
    cursor: pointer;
}

.sections {
    background-color: rgb(226, 232, 240);
    display: grid;
    grid-template-columns: 10fr 4fr;
}

.projects-section {
    display: flex;
    flex-direction: column;
}

.projects-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem 2rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    gap: 2rem;
    padding: 0 1rem 1rem 2rem;
    margin-bottom: 3rem;
}

.card {
    background-color: white;
    border-radius: 12px;
    border-left: 12px solid rgb(255, 183, 0);
    padding: 3rem 3rem 3rem 2rem;
}

.card > h3 {
    font-size: 2rem;
}

.card > p {
    font-size: 1.5rem;
    color: rgb(80, 80, 80);
}

.side-section {
    display: grid;
}

.announcements {
    display: flex;
    flex-direction: column;
}

.announcements-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem 1rem;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    height: 90%;
    width: 90%;
    padding: 2rem;
    gap: 1.25rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.first-announcement, .second-announcement, .third-announcement {
    font-size: 1.25rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-announcement > p, .second-announcement > p, .third-announcement > p {
    color: rgb(80, 80, 80);
}

.trending {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.trending-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem 1rem;
}

.trending-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    height: 90%;
    width: 90%;
    padding: 2rem;
    gap: 1.25rem;
    margin-left: 1rem;
}

.trending-item {
    font-size: 1.15rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.trending-text {
    display: flex;
    flex-direction: column;
}

.trending-text > p {
    color: rgb(80, 80, 80);
}

.trending-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}